{% extends base %}

{% block postamble %}
  <style>
    h1 {
      margin: 2em 0 0 0;
      color: #2e484c;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 1.4em;
      text-transform: uppercase;
    }
    p {
      font: "Libre Baskerville", sans-serif;
      text-align: justify;
      text-justify: inter-word;
    }
  </style>
{% endblock %}

{% block contents %}
  <div>
    <h1 align="center">ADvantage Dashboard!</h1>
    <h2 align="center">Your Keyword Research Dashboard!</h2>
    <ul style="list-style-type:circle">
      <li>Scrub the "Daily budget" slider To select the desired daily budget.</li>
      <li>You can play around with it to establish YOUR campaigns goals and expenditures</li>
      <li>Click the "Download" button to export data to a CSV file.</li>
    </ul>
  </div>
  {{ super() }}
  <div>
    <p> This Dashboard helps you keywords based on the Google
      Keyword Planner (GKP) result and web scraping from web pages similar to
      your landing page. You can download the resulting table pressing the button
      below.
    <p><b>NOTE</b>: On Safari the CSV will open in a new tab, rather than downloading.</p>
    <div>
{% endblock %}
